@import-normalize;
@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .sidebar-icon {
    @apply relative mx-auto mt-2 mb-2 
      flex h-12 w-12 cursor-pointer items-center  
    justify-center rounded-3xl bg-gray-400 
    text-green-500 shadow-lg
      transition-all duration-200
      ease-linear hover:rounded-xl hover:bg-green-600
      hover:text-white dark:bg-gray-800;
  }

  .sidebar-icon-menu {
    @apply relative mx-auto mt-2 mb-2 
      flex h-12 w-12 cursor-pointer items-center  
    justify-center rounded-2xl bg-gray-400 
    text-green-500 shadow-lg
      transition-all duration-200
      ease-linear hover:rounded-xl hover:bg-green-600
      hover:text-white dark:bg-gray-800;
  }

  .sidebar-tooltip {
    @apply absolute left-14 m-2 w-auto min-w-max origin-left scale-0 rounded-md
    bg-gray-900 p-2 
    text-xs font-bold 
    text-white shadow-md transition-all duration-100;
  }

  .sidebar-hr {
    @apply mx-1 w-2/3 rounded-full
    border border-gray-500 bg-gray-500 dark:border-gray-800
    dark:bg-gray-800;
  }

  .content-container {
    @apply m-0 ml-16 overflow-auto bg-gray-200
     dark:bg-gray-800;
  }

  .login-button {
    @apply mr-2 mb-2 w-full rounded-lg bg-gradient-to-br from-green-400 to-blue-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gradient-to-bl focus:outline-none focus:ring-4 focus:ring-green-200 dark:focus:ring-green-800;
  }

  .google-login-button {
    @apply mr-2 mb-2 inline-flex w-full items-center rounded-lg bg-[#4285F4] px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-[#4285F4]/90 focus:outline-none focus:ring-4 focus:ring-[#4285F4]/50;
  }

  .green-button {
    @apply mr-2 mb-2 w-full rounded-lg bg-gradient-to-r from-green-400 via-green-500 to-green-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gradient-to-br focus:outline-none focus:ring-4 focus:ring-green-300 dark:focus:ring-green-800;
  }

  .blue-button {
    @apply mr-2 mb-2 w-full rounded-lg bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-gradient-to-br focus:outline-none focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800;
  }

  .form-width-fifty {
    min-width: 50vh;
  }

  .lable-text-form {
    @apply mb-2 block text-start font-medium text-gray-900 dark:text-white;
  }

  .form-sub-text {
    @apply text-start text-sm font-light text-gray-500 dark:text-gray-400;
  }

  .form-sub-text-underline {
    @apply font-medium hover:underline;
  }

  .form-container {
    @apply rounded-lg bg-white shadow dark:border dark:border-gray-700 dark:bg-gray-800 sm:max-w-md md:mt-0 xl:p-0;
  }

  .form-title {
    @apply text-xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white md:text-2xl;
  }

  .form-title-with-image {
    @apply mb-6 flex items-center text-2xl font-semibold text-gray-900 dark:text-white;
  }

  .form-input {
    @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500 sm:text-sm;
  }

  .section-form-div {
    @apply mx-auto flex w-screen flex-col items-center justify-center px-6 py-8 md:h-screen lg:py-0;
  }

  .form-spaces {
    @apply space-y-4 md:space-y-6;
  }

  .check-terms {
    @apply h-4 w-4 rounded border border-gray-300 bg-gray-50 dark:border-gray-600 dark:bg-gray-700;
  }

  .check-lable {
    @apply font-medium hover:underline;
  }
}
